
<% layout("boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3"  role="alert">
    <!-- <p><%= err.name %></p> -->
    <p><%= err.message %></p>
    <!-- <p><%= err.trace %></p> -->
    <!-- <p><%= err.stack %></p>        -->
    </div>
</div>
